colors {
	myColor: #FFFFFFFF;
}

borders {
	textfield_focus {
		width: 1%;
		color: red;
	}
}

fonts {
	fnt_textfield {
		size: 16pt;
	}
}

backgrounds {
	content {
		type: gradient;
		colors: yellow green;
	}
}

content {
	background: content;
	margin: 5%;
	padding: 2%;
}

textfield {
	font: fnt_textfield;
	font-style: italic;
	padding: 5%;
	margin: 1%;
	background-color: white;
}