colors {
	myColor: #FFFFFFFF;
}

borders {
	textfield_focus {
		width: 1%;
		color: red;
	}
}

content {
	background-color: silver;
	margin: 5%;
	padding: 2%;
}

textfield {
	font-size: 8pt;
	padding: 5%;
	margin: 1%;
	background-color: white;
}

textfield:focused {
	margin: 0;
	border: textfield_focus;
}