colors {
	myColor: #FFFFFFFF;
}

borders {
	textfield_focus {
		width: 1%;
		color: red;
	}
}

backgrounds {
	content {
		type: rounded;
		color: blue;
		arcs: 5% 5% 5% 5%;
	}
}

content {
	background: content;
	margin: 5%;
	padding: 2%;
}

textfield {
	font-size: 8pt;
	padding: 5%;
	margin: 1%;
	background-color: white;
}

textfield:focus {
	margin: 0;
	border: textfield_focus;
}