borders {
	textfield {
		width: 1%;
	 	color: silver;
	 	style: solid;
	}
	
	textfield_focus extends textfield {
		color: red;
	}
}

content {
	background-color: silver;
	margin: 5%;
	padding: 2%;
}

textfield {
	font-size: 1cm;
	padding: 1cm;
	background-color: white;
	border: textfield;
}

textfield:focused {
	border: textfield_focus;
	border-color: blue;
}