/* all styles are left empty to show the plain BlackBerry styling */

screen {

}

content {
	margin: 5%;
	padding: 5%;
	border-color: silver;
}

label {

}

field {
	padding: 2%;
	border-color: silver;
}

button {

}